// Assign Student to Course view.

@Html.AntiForgeryToken()

<div class="add-student-to-course">
    <h1 class="">Add Student to Course</h1>
    <form asp-controller="Student" asp-action="AddToCourse" method="post">
        <select>
        </select>
    </form>
</div>