@{
}

<div class="student-records">
    <h1 class="">Teachers</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <partial name="~/Views/PartialViews/_personTableListPartial.cshtml" />
    </table>
</div>
