

<div class="add-person-wrapper">
    <div class="input-wrapper">
    <label>First Name<br /><input class="input-name" name="fname" type="text" placeholder="First Name" /></label>
    <label>Last Name<br /><input class="input-name" name="lname" type="text" placeholder="Last Name" /></label>
        </div>
    <div class="button-wrapper">
        <input type="submit" value="Submit" />
        <input type="reset" value="Clear" />
    </div>
</div>
