
@{
    ViewData["Title"] = "Home Page";
}
@Html.AntiForgeryToken()
<div class="page-wrapper">
    <div>
        Welcom to the one and only<br /><img src="~/images/HardKnoxCollege.png" />
    </div>
</div>
