
@{
    ViewData["Title"] = "Home Page";
}
@Html.AntiForgeryToken()
<div class="page-wrapper">
    <div style="text-align:center;">
        <h1>Welcom to the one and only</h1><br /><img src="~/images/HardKnoxCollege.png" />
    </div>
</div>
