@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="student-records">
    <h1 class="">Student Records</h1>
    <select>
        <partial name="~/Views/PartialViews/_listRecordsPartial.cshtml" />
        </select>
        </div>
