// Add Student view.

@Html.AntiForgeryToken()
@model EntityFramework.Models.DataFunctions;

<div class="page-wrapper">
    <h1 class="">@ViewData["PageHead"]</h1>
    <div class="add-student">
        <form asp-controller="Course" asp-action="AddCourse" method="post">
            <div class="input-wrapper">
                <label>Course Name<br /><input class="input-name" name="name" type="text" placeholder="Course Name" /></label>
            </div>
            <div class="button-wrapper">
                <input type="submit" value="Submit" />
                <input type="reset" value="Clear" />
            </div>
        </form>
    </div>
    <div class="student-records">
        <h1 class="">Courses</h1>
        <table>
            <thead>
                <tr>
                    <th>Course Name</th>
                </tr>
            </thead>
            <tbody>
                <partial name="~/Views/PartialViews/_courseTableListPartial.cshtml" />
            </tbody>
        </table>
    </div>
</div>