<!-- Assign Assignment to Course view.
-->

@Html.AntiForgeryToken()

<div class="add-student-to-course center">
    <h1 class="">Add Assignment to Course</h1>
    <form asp-controller="Course" asp-action="AssignToCourse" method="post">
        <label>
            Assignment<br />
            <select name="assignmentId">
                <partial name="~/Views/PartialViews/_assignmentSelectPartial.cshtml" />
            </select>
        </label><br />
        <label>
            Course<br />
            <select name="courseId">
                <partial name="~/Views/PartialViews/_courseSelectPartial.cshtml" />
            </select>
        </label>
        <br />
        <input type="submit" value="Submit" />
    </form>
</div>